<amexio-virtual-scroller [window-scroll]="true" *ngIf="localData" [item-size]="150" [data]="localData.items">
    <ng-template #amexioBodyTmpl let-row="row">
        <amexio-layout-columns [orientation]="'horizontal'">
            <amexio-layout-item>
                <amexio-image [path]="row.imagepath " [height]=" '160px' ">
                </amexio-image>
            </amexio-layout-item>
            <amexio-layout-item>
                <amexio-label [size]="'medium-bold' ">
                    {{row.title}}
                </amexio-label>
                <br />
                <amexio-label size="small ">
                    {{row.description}}
                </amexio-label>
                <br />
                <amexio-label size="small-bold ">
                    {{row.duration}} secs
                </amexio-label>
            </amexio-layout-item>
        </amexio-layout-columns>
    </ng-template>
</amexio-virtual-scroller>