<amexio-nav [enable-side-nav-position]="true" [title]="'Movies'" [logo]="'https://cedemo.amexio.org/assets/images/a_Logo.png'">
    <amexio-nav-item position-right [title]="'TV'" [icon]="'fa fa-television fa-fw fa-lg'" [type]="'link'" style="cursor: pointer;">
    </amexio-nav-item>
    <amexio-nav-item position-right [title]="'Movies'" [icon]="'fa fa-film fa-fw fa-lg'" [type]="'link'" style="cursor: pointer;">
    </amexio-nav-item>
    <amexio-nav-item position-right [title]="'Sports'" [icon]="'fa fa-gamepad fa-fw fa-lg'" [type]="'link'" style="cursor: pointer;">
    </amexio-nav-item>
    <amexio-nav-item position-right [title]="'News'" [icon]="'fa fa-newspaper-o fa-fw fa-lg'" [type]="'link'" style="cursor: pointer;">
    </amexio-nav-item>
    <amexio-nav-item position-right [title]="'Premium'" [icon]="'fa fa-user-secret fa-fw fa-lg'" [type]="'link'" style="cursor: pointer;">
    </amexio-nav-item>
</amexio-nav>
<br/><br/><br/><br/>
<div style="margin:10px;height:100%">
    <router-outlet></router-outlet>
</div>