<amexio-nav [enable-side-nav-position]="true" [title]="'Movies'" [logo]="'https://cedemo.amexio.org/assets/images/a_Logo.png'">
    <amexio-nav-item position-right [title]="'TV'" [icon]="'fa fa-yelp fa-fw fa-lg'" [type]="'link'" style="cursor: pointer;">
    </amexio-nav-item>
    <amexio-nav-item position-right [title]="'Movies'" [icon]="'fa fa-retweet fa-fw fa-lg'" [type]="'link'" style="cursor: pointer;">
    </amexio-nav-item>
    <amexio-nav-item position-right [title]="'Sports'" [icon]="'fa fa-address-book fa-fw fa-lg'" [type]="'link'" style="cursor: pointer;">
    </amexio-nav-item>
    <amexio-nav-item position-right [title]="'News'" [icon]="'fa fa-address-book fa-fw fa-lg'" [type]="'link'" style="cursor: pointer;">
    </amexio-nav-item>
    <amexio-nav-item position-right [title]="'Premium'" [icon]="'fa fa-address-book fa-fw fa-lg'" [type]="'link'" style="cursor: pointer;">
    </amexio-nav-item>
    <!-- <amexio-nav-item position-right [type]="'textfield'" [title]="'Enter your name'">
    </amexio-nav-item> -->
</amexio-nav>
<br/><br/><br/><br/>
<div style="margin:10px;height:100%">
    <router-outlet></router-outlet>
</div>