<amexio-virtual-scroller [height]="450" [window-scroll]="true" *ngIf="localData2d" [item-size]="150" [data]="localData2d.items">
    <ng-template #amexioBodyTmpl let-row="row">
        <amexio-row>
            <amexio-column *ngFor="let item of row.data" size="3" [fit]="true">
                <amexio-card-ce [align]="'center'">
                    <amexio-body-ce>
                        <amexio-image [path]="item.imagepath" [overlay-effect]="'slide-left'" [overlay-text]="item.title">
                        </amexio-image>
                    </amexio-body-ce>
                </amexio-card-ce>
            </amexio-column>
        </amexio-row>
    </ng-template>
</amexio-virtual-scroller>