<amexio-carousel style="display: block; margin: 0px -20px;" [data]="localData" shuffle-interval="1000">

    <ng-template let-gallery amexioTemplate="item">
        <amexio-image [height]="'300px'" [path]="gallery.imagepath"></amexio-image>
    </ng-template>

</amexio-carousel>
<amexio-virtual-scroller *ngIf="localData2d" [item-size]="150" [data]="localData2d.items">
    <ng-template #amexioBodyTmpl let-row="row">
        <amexio-row>
            <amexio-column *ngFor="let item of row.data" size="3" [fit]="true">
                <amexio-card-ce *ngIf="item.imagepath" [align]="'center'">
                    <amexio-image [path]="item.imagepath" [overlay-effect]="'slide-left'" [overlay-text]="item.title">
                    </amexio-image>
                </amexio-card-ce>
            </amexio-column>
        </amexio-row>
    </ng-template>
</amexio-virtual-scroller>